{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block body %}


<h1>Personnages</h1>

<h3>Arya Stark</h3>

<img src="/Personnages/Arya.jpg" width="200" height="200">

<p>Arya Stark est un personnage principal dans les première, deuxième, troisième, quatrième, cinquième, sixième, septième et huitième saisons de Game of Thrones.
 Elle est interprétée par Maisie Williams et fait ses débuts dans l'épisode « L'hiver vient ».</p>

<p>Troisième enfant et seconde fille d'Eddard et Catelyn Stark, elle est présumée morte pour la plupart dans Westeros, Arya chérit une liste de tous ceux qu'elle désire tuer,
comme vengeance pour elle-même et sa famille.</p>

<p>Après la mort de son père, de sa mère, de son frère et de sa tante, Arya est partie à Braavos pour redémarrer une nouvelle vie.
Elle a recherché son protecteur de Harrenhal, Jaqen H'ghar, qu'elle a trouvé dans la Demeure du Noir et du Blanc où elle a subi une formation rigoureuse pour devenir une sans-visage mais a dû lutter pour renoncer à sa vie passée.
Peu disposée à assassiner Lady Cigogne comme demandé, Arya s'est opposée à la gamine abandonnée, qu'elle a fini par tuer.
Impressionné, Jaqen accepte Arya comme une sans-visage, mais elle choisit de conserver son identité Stark et quitte Braavos.
Une fois de retour à Westeros, Arya accomplit sa promesse de tuer Walder Frey.
</p>

<h3>Bran Stark</h3>

<img src="/Personnages/Bran Stark.jpg" width="200" height="200">

<p>Brandon Stark, communément appelé Bran, est un personnage principal dans la première, deuxième, troisième, quatrième, sixième, septième et huitième saison de Game of Thrones.
 Il est interprété par Isaac Hempstead-Wright et fait ses débuts dans l'épisode "L'hiver vient".</p>

<p>Second fils d'Eddard et Catelyn Stark, il devient paralysé après que Jaime Lannister le pousse du haut d'une tour. Bran s'est échappé du Sac de Winterfell avec son frère Rickon, Hodor, Osha, et son loup Été.
Il a pris la direction du nord avec Hodor, Été, et Meera et Jojen Reed pour accomplir les visions qu'il a partagé avec ce dernier. Jojen n'a pas survécu au voyage, mais Bran a réussi à localiser la Corneille à trois yeux, qui l'a pris sous son aile.
La nouvelle résidence de Bran a été écourtée lorsqu'il a été touché par le Roi de la Nuit durant une vision, cassant ainsi la protection magique de la grotte. L'armée des morts vient alors pour Bran, qui s'échappe de justesse grâce à Meera et les sacrifices de Hodor, Été et Feuille.
Avec l'aide de son oncle Benjen, lui et Meera voyagent jusqu'au mur. Après la mort de la corneille, Bran est désormais devenu la nouvelle Corneille à trois yeux.
</p>

<h3>Brienne de Torth</h3>

<img src="/Personnages/Brienne.jpg" width="200" height="200">

<p>Brienne de Torth est un personnage principal dans la deuxième, troisième, quatrième, cinquième, sixième, septième et huitième saison de Game of Thrones. 
Elle est interprétée par Gwendoline Christie et fait ses débuts dans l'épisode "Ce qui est mort ne saurait mourir".</p>

<p>Fille de lord Selwyn Torth, Brienne est une dame de haute naissance qui s'est entraînée pour devenir chevalier. En dépit de la mort de Catelyn Stark,
Brienne fut chargée par Jaime Lannister de faire valoir son serment à Catelyn en trouvant et en protégeant ses filles.
Bien que les deux jeunes filles aient refusé son aide, elle a suivi Sansa à Winterfell et était présente lorsque Stannis Baratheon a tenté de prendre le château.
Sachant que Stannis était responsable de la mort de son frère Renly, qu'elle a servi et aimé, Brienne tue Stannis. Elle a accompli le vœu fait à Catelyn Stark quand Sansa à accepté la protection et le service de Brienne.
À la demande de Sansa, Brienne s'est rendue dans le Conflans pour persuader Brynden Tully d'aider les Stark à reprendre Winterfell. N'ayant pas réussi à le convaincre elle fuit Vivesaigues, qui était sur le point d'être assiégée,
toujours accompagnée de Podrick Payne. 
</p>

<h3>Bronn</h3>

<img src="/Personnages/Bronn.jpeg" width="200" height="200">

<p>Bronn est un personnage récurrent dans les première, deuxième, troisième, quatrième, cinquième et sixième saisons puis un personnage principal à partir de la septième et huitième saison de Game of Thrones.
Il fait ses débuts dans l'épisode "Infirmes, Bâtards et Choses brisées", et est interprété par Jerome Flynn.</p>

<p>Bronn était mercenaire à la solde de Tyrion Lannister, et lui faisait office de garde du corps et d'homme de main. Il rencontra le nain lors du duel judiciaire l'opposant à Lysa Arryn, aux Eyrié.
Il se présenta en tant que champion de Tyrion pour le représenter dans le Duel judiciaire destiné à prouver son innocence dans l'assassinat de Jon Arryn, et il parvint à vaincre son adversaire,
Ser Vardis Egen, sauvant ainsi la vie du nain. Lors de la Bataille de la Néra, il se distingua en tirant la flèche enflammée qui incendia le feu grégeois et détruisit ainsi une grande partie de la flotte de Stannis Baratheon.
Suite à cet affrontement, il fut nommé Ser Bronn de la Néra pour ses hauts faits lors de la défense de Port-Réal.</p>

<p>Il devint peu à peu ami avec Tyrion cependant Bronn refusa de mettre une fois de plus sa vie en jeu, lorsque ce dernier lui demanda de se battre une fois encore pour lui, contre Ser Gregor Clegane,
afin de l'innocenter pour le meurtre de Joffrey Baratheon. Après le départ de Tyrion à Essos, on apprend qu'il compte épouser une femme noble par pur intérêt. Il mit cependant une fois de plus ses talents au service de Jaime Lannister,
contre la promesse d'avoir un meilleur parti de la part du régicide. La mission consiste à récupérer Myrcella Baratheon à Dorne, mais elle échoue et Bronn se fait capturer, de même que Jaime. Il est ensuite libéré par le prince Trystan Martell,
juste avant que Myrcella ne meure sur le navire, empoisonnée sur le quai par Ellaria Sand. Une fois rentré, il devient le bras droit de Jaime lors de divers conflits.  
</p>

<h3>Catelyn Stark</h3>

<img src="/Personnages/Catelyn Stark.jpeg" width="200" height="200">

<p>Catelyn Stark, née Tully, est un personnage principal de la première, deuxième et troisième saison de Game of Thrones.
Elle est interprétée par Michelle Fairley, et fait ses débuts dans "L'hiver vient".<p>

<p>Elle est l'épouse de Lord Eddard Stark et la mère de ses cinq enfants légitimes : Robb, Sansa, Arya, Bran et Rickon.
Elle a grandi dans le sud, dans le Conflans. Jeune, elle est d'abord promise à Brandon Stark, frère aîné d'Eddard,
mais, à sa mort, elle épouse Ned afin de lier leurs deux maisons.</p>

<p>Sa finesse et sa franchise lui ont permis de devenir la fidèle conseillère de son époux, qu'elle aime profondément.
Catelyn éprouve un attachement très fort à ses enfants et à sa famille et le montre à de nombreuses reprises. 
Néanmoins elle hait le bâtard de Eddard Stark, Jon Snow et ne le considère pas comme son fils. Cette haine créé chez elle un profond sentiment de culpabilité. 
</p>

<h3>Cersei Lannister</h3>

<img src="/Personnages/Cersei Lannister.jpeg" width="200" height="200">

<p>Cersei Lannister est un personnage principal dans la première, deuxième, troisième, quatrième, cinquième, sixième, septième et huitième saison de Game of Thrones.
Elle est interprétée par Lena Headey et fait ses débuts dans l'épisode "L'hiver vient".</p>

<p>Fille unique de Tywin Lannister, Cersei a été impliquée dans une relation incestueuse avec son frère jumeau Jaime,
avant même qu'elle soit mariée à Robert Baratheon. Son frère est également le véritable père de ses trois enfants Joffrey, Myrcella et Tommen. 
</p>

<h3>Daenerys Targaryen</h3>

<img src="/Personnages/Daenerys Targaryen.jpeg" width="200" height="200">

<p>Daenerys Targaryen est un personnage principal dans la première, deuxième, troisième, quatrième, cinquième, sixième, septième et huitième saison de Game of Thrones.
Elle est interprétée par Emilia Clarke et fait ses débuts dans l'épisode "L'hiver vient".</p>

<p>Daenerys est la fille du Roi Fou Aerys II Targaryen et de la reine Rhaella Targaryen ainsi que la jeune sœur de Rhaegar et Viserys Targaryen.
Son père, atteint de folie, fut dépossédé de son trône par Robert Baratheon, dit l'Usurpateur. À la suite de ce coup d'État, la princesse Daenerys et son frère aîné,
le prince Viserys, ont dû fuir et vivre en exil dans les Cités libres à Essos, le continent à l'est de Westeros, au-delà du Détroit. Elle est officiellement la dernière représentante de la Maison Targaryen,
les origines de Jon Snow n'étant connues que par Bran Stark et Samwell Tarly. 
</p>

<h3>Davos</h3>

<img src="/Personnages/Davos.png" width="200" height="200">

<p>Davos Mervault est un personnage principal dans les deuxième, troisième, quatrième, cinquième, sixième, septième et huitième saison de Game of Thrones.
Il est interprété par Liam Cunningham et fait ses débuts dans l'épisode "Le Nord se souvient".</p>

<p>Davos Mervault est un ancien contrebandier originaire de Culpucier en dessous de la rue de la Farine. Son père était un pêcheur de crabes. </p>

<h3>Drogo</h3>

<img src="/Personnages/Drogo.jpg" width="200" height="200">

<p>Drogo est un personnage principal dans la première saison de Game of Thrones.
 Il est interprété par Jason Momoa et fait ses débuts dans l'épisode "L'hiver vient".</p>

 <p>Drogo est le fils d'un ancien khal du peuple dothraki, Bharbo. Il devient ensuite à son tour l'un des khals les plus puissants des dothrakis,
 à la tête du plus grand khalasar de la Mer Dothrak, qui contenait quarante mille guerriers. Il était l'un des meilleurs tueurs de son temps comme le prouve sa grande tresse,
 qui symbolise la force et le puissance du khal. Il possédait un palais à Vaes Dothrak et un manoir à neuf tours à Pentos, un don du maître de la ville afin d'entretenir des relations pacifiques.</p>

<p>Ses sang-coureurs étaient Cohollo, Qotho et Haggo.</p>

<h3>Eddard Stark</h3>

<img src="/Personnages/Eddard Stark.jpg" width="200" height="200">

<p>Eddard Stark, communément appelé Ned, est un personnage principal dans la première saison et récurrent dans la sixième et septième de Game of Thrones.
 Il est interprété par Sean Bean dans la première saison puis par Robert Aramayo et Sebastian Croft dans la sixième, ceux-ci le représentant plus jeune. Il fait ses débuts dans l'épisode "L'hiver vient".</p>

<p>Patriarche de sa maison, gouverneur du nord et seigneur de Winterfell, Ned est un homme du nord jusqu'au bout des moustaches : discipliné, puissant et doté d'un sens de l'honneur et de la justice.
 Mais, sous cette dureté apparente, se cache un époux et un père aimant. Il voue une loyauté absolue au roi Robert, son ami d'enfance, qu'il a aidé à conquérir le trône, le rendant ainsi célèbre dans tout Westeros et même au-delà du mur.
 Il est respecté par de nombreux admirateurs dans le Nord. Hanté par la guerre et las de toutes ces années de combat, il est pourtant forcé de quitter les siens pour servir le roi Robert à la cour comme Main du Roi à Port-Réal, une décision lourde de conséquences.</p> 

<h3>Ellaria Sand</h3>

<img src="/Personnages/Ellaria Sand.jpeg" width="200" height="200">

<p>Ellaria Sand est un personnage récurrent de la quatrième, cinquième et sixième saison de Game of Thrones.
 Elle est interprétée par Indira Varma et fait ses débuts dans l'épisode "Deux Épées".</p>

<p>Ellaria Sand est la maîtresse d'Oberyn Martell ainsi que la mère de deux Aspics des Sables. Elle fut anéantie par la perte de son amant, qui mourut dans le duel judiciaire contre Gregor Clegane et ne pensa dès lors qu'à le venger.
 Ellaria cherche pour cela à déclencher une guerre contre la Maison Lannister, qu'elle estime responsable de ce qui est arrivé à Oberyn.</p>

<p>Elle n'hésite pas à assassiner la jeune Myrcella Baratheon (présente à Dorne pour épouser Trystan Martell), pour parvenir à ses fins.
 Elle critique en outre la faiblesse du prince Doran Martell, qui "rompt le pain avec les Lannisters" selon elle.
 Elle dut cependant lui prêter allégeance sous peine de se faire exécuter, même si ce n'était qu'une loyauté de façade.
 Lorsque Doran apprit la nouvelle de la mort de Myrcella, elle le poignarda dans l'instant afin de prendre le pouvoir à Dorne, avec les Aspics des Sables pour complices.</p>

<p>À la suite de la destruction du Grand Septuaire de Baelor, elle convoque Olenna Tyrell à Dorne pour lui proposer une alliance Tyrell - Martell - Targaryen afin de renverser leur ennemi commun, les Lannister.
 Faite prisonnière par Euron Greyjoy durant l'Assaut sur la Flotte Targaryen, elle est ensuite livrée à sa pire ennemie, Cersei Lannister. Condamnée à regarder sa fille mourir des effets du Long Adieu, elle meurt par la suite durant la dévastation de Port-Réal.</p>

 <h3> Gendry Baratheon</h3>

<img src="/Personnages/Gendry Baratheon.jpg" width="200" height="200">

<p>Gendry Baratheon (anciennement Gendry) est un personnage principal dans les première, deuxième, troisième, septième et huitième saisons de Game of Thrones.
 Il est interprété par Joe Dempsie et fait ses débuts dans l'épisode "Infirmes, Bâtards et Choses brisées".</p>

<p>Fils bâtard du roi Robert Baratheon qui ignore son ascendance, Gendry est un apprenti forgeron, vendu par son maître pour qu'il intègre la Garde de Nuit.
 Il est légitimé par Daenerys Targaryen après la Grande Bataille de Winterfell, et devient suzerain des Terres de l'Orage.</p> 

{% endblock %}
