{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

<p>Bienvenue sur le site de GameofThrones. Vous trouverez sur le site les infos sur la série avec notamment une partie sur les personnages de la série.
 Il y aura également une partie sur les royaumes,une partie saison avec toutes les saisons de la série, une partie musique avec les génériques et les soundtracks,
 une partie produit qui parlera des dvd, des livres et des jeux de GameofThrones, une partie évènements, une partie spinoff et pour finir un formulaire d'inscription.
</p>

{% endblock %}

